<div class="messages">
  <div class="messages__header">
    <div class="messages__person">
      {{#image
        src="person_2.png" alt="Avatar" class="avatar avatar_min"
      }}{{/image}}
      <h3 class="messages__name">Андрей</h3>
    </div>
    <div>
      {{{Button type="add" text="Add User" onSubmit=onAddUser}}}
      {{{Button type="add" text="Delete User" onClick=onDeleteUser}}}
    </div>
  </div>
  <ul class="messages__list">
    {{#if selectedChat}}
      {{#if usersLength}}
        {{#each messages as |message|}}
          {{{Message message=message owner=message.current_user}}}
        {{/each}}
      {{else}}
        <div class="messages__new">
          <h1>Add a user to start your conversation</h1>
        </div>
      {{/if}}
    {{else}}
      <div class="messages__new">
        <h1>Select chat from the list or add new one</h1>
      </div>
    {{/if}}
  </ul>
  {{{InputMessage
    validateType="messageValidation"
    name="message"
    ref="message"
    onClick=onClick
  }}}
</div>