<form class="form" action="submit">
  {{{Avatar user=user}}}
  <fieldset class="profile__set">
    {{#if isPasswordChange}}
      {{{InputAuth
        classType="user"
        isEdit=isEdit
        id="oldPassword"
        name="oldPassword"
        type="password"
        value=user.password
        placeholder="Password"
        label="Old password"
      }}}
      {{{InputAuth
        classType="user"
        isEdit=isEdit
        id="newPassword"
        name="newPassword"
        type="password"
        value=user.password
        placeholder="Password"
        label="New password"
      }}}
      {{{InputAuth
        classType="user"
        isEdit=isEdit
        id="repeatPassword"
        name="repeatPassword"
        type="password"
        value=user.password
        placeholder="Password"
        label="Repeat password"
      }}}
    {{else}}
      {{{InputAuth
        classType="user"
        validateType="emailValidation"
        isEdit=isEdit
        id="email"
        name="email"
        type="email"
        value=user.email
        placeholder="Enter your email"
        label="Email"
        disabled=disabled
        ref="email"
      }}}
      {{{InputAuth
        classType="user"
        validateType="loginValidation"
        isEdit=isEdit
        id="login"
        name="login"
        type="text"
        value=user.login
        placeholder="Enter your login"
        label="Login"
        disabled=disabled
        ref="login"
      }}}
      {{{InputAuth
        classType="user"
        validateType="nameValidation"
        isEdit=isEdit
        id="first_name"
        name="first_name"
        type="text"
        value=user.first_name
        placeholder="Enter_your_name"
        label="Name"
        disabled=disabled
        ref="first_name"
      }}}
      {{{InputAuth
        classType="user"
        validateType="nameValidation"
        isEdit="true"
        id="second_name"
        name="second_name"
        type="text"
        value=user.second_name
        placeholder="Enter your surname"
        label="Surname"
        disabled=disabled
        ref="second_name"
      }}}
      {{{InputAuth
        classType="user"
        validateType="nameValidation"
        isEdit="true"
        id="display_name"
        name="display_name"
        type="text"
        value=user.display_name
        placeholder="Enter your username"
        label="Username"
        disabled=disabled
        ref="display_name"
      }}}
      {{{InputAuth
        classType="user"
        validateType="phoneValidation"
        isEdit="true"
        id="phone"
        name="phone"
        type="text"
        value=user.phone
        placeholder="Enter your phone"
        label="Phone"
        disabled=disabled
        ref="phone"
      }}}
    {{/if}}
    {{#if isEdit}}
      {{{Button type="save" text="Save" onSubmit=onClick ref="edit" page=page}}}
    {{/if}}
  </fieldset>
</form>
