<li class="chat__item">
  {{#with chat}}
    {{#if avatar}}
      <img src={{avatar}} alt="Avatar" class="chat__avatar" />
    {{else}}
      <img src="./assets/images/person_2.png" alt="Avatar" class="avatar" />
    {{/if}}
    <div class="chat__person">
      <h3 class="chat__name">{{user_name}}</h3>
      <p class="chat__title">{{title}}</p>
      <p class="chat__text">{{text}}</p>
    </div>
    <div class="chat__data">
      <p class="chat__time">{{time}}</p>
      {{#if unread}}
        <p class="chat__unread">{{unread_count}}</p>
      {{/if}}
    </div>
  {{/with}}
</li>