<section class="chat">
  <div class="chat__sidebar">
    <div class="chat__container">
      {{{Button text="Add New Chat" type="add" onSubmit=onAddNewChat}}}
      {{{Link
        linkText="Profile"
        onClick=toProfile
        to="/settings"
        type="profile"
        iconLink="profile"
        page="ProfilePage"
      }}}
    </div>

    {{{InputSearch name="search" ref="search" onClick=onClick}}}
    <ul class="chat__list">
      {{#each chats as |chat|}}
        {{{ChatItem chat=chat}}}
      {{/each}}
    </ul>
  </div>
  {{{Messages selectedChat=selectedChat}}}
  {{{Modal
    id="title"
    title="Create New Chat"
    type="input"
    text="Add"
    class="auth__input"
    placeholder="Add title"
    onSubmit=onSubmitTitle
  }}}
  <div class="profile__shadow"></div>
</section>