<form class="form" action="submit">
  {{{Avatar user=user}}}
  <fieldset class="profile__set">
    {{{InputAuth
      validateType="passwordValidation"
      classType="user"
      isEdit="true"
      id="password"
      name="old_password"
      type="password"
      value=""
      placeholder="Password"
      label="Old password"
      ref="old_password"
    }}}
    {{{InputAuth
      validateType="passwordValidation"
      classType="user"
      isEdit="true"
      id="newPassword"
      name="new_password"
      type="password"
      value=user.password
      placeholder="Password"
      label="New password"
      ref="new_password"
    }}}
    {{{InputAuth
      validateType="passwordValidation"
      classType="user"
      isEdit="true"
      id="repeatPassword"
      name="repeat_password"
      type="password"
      value=user.password
      placeholder="Password"
      label="Repeat password"
      ref="repeat_password"
    }}}
    {{{Button type="save" text="Save" onSubmit=onClick page=page}}}
  </fieldset>
</form>